.navContainer {
	background: rgba(204, 204, 204, 0.2);
	width: 100%;
	height: 8%;
	position: absolute;
	z-index: 1;
	@media (max-width: 500px) {
		height: 10%;
	}
}

.logoContainer {
	position: absolute;
	top: 10%;
	left: 2%;
	width: 275px;
	z-index: 2;

	@media (max-width: 500px) {
		width: 60px;
		top: 5%;
	}
}
