@font-face {
	font-family: Orbitron-Medium;
	src: url('../public/fonts/Orbitron-Medium.ttf');
}
@font-face {
	font-family: Orbitron-Light;
	src: url('../public/fonts/Orbitron-Light.ttf');
}
@font-face {
	font-family: Orbitron-Bold;
	src: url('../public/fonts/Orbitron-Bold.ttf');
}
@font-face {
	font-family: Roboto-Regular;
	src: url('../public/fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: Roboto-Thin;
	src: url('../public/fonts/Roboto-Thin.ttf');
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto-Thin;
	cursor: url('../public/cursor/cursor32x32.png'), auto;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
